html,
body {
  height: 100%;
}

body {
  /*background: #111;*/
  /*background: radial-gradient(#222, #000);*/
  overflow: hidden;
}
/* Intro CSS */
.introbg {
  background-image: url(img/Intro.jpg);
  background-position: center center;
  background-size: cover;
}

.gamebg {
  background-image: url(img/gamebg.jpg);
  background-position: center center;
  background-size: cover;
}

button {
  background-color: #2199ff;
  color: white;
  border: white 2px solid;
  border-radius: 20px;
  /*width: 150px;*/
  margin: 10px 25px 10px 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  button:focus {outline:0;}

.startwrap {
  text-align: center;
  padding-top: 35%;
}

/* Main game CSS */
.scene {
  width: 90vw;
  height: 48vw;
  background: #79C501;
  bottom: 0;
  background: url(img/background.jpg);
  /*border: 1px solid white;*/
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
/*  box-shadow:
    0 0 0 10px #222,
    0 30px 30px -20px #000;
  height: 80vmin;
  left: 0;
  max-height: 500px;
  max-width: 714px;*/
  margin: auto;
  position: absolute;
  left: 5vw;
  top: 0vw;
  /*width: 80vmin;*/
  color: red;
}

.scene img {
/*transform: scale(0.4, 0.4);*/
/*position: absolute;*/
}
.blink {animation: blink 1s step-start 0s infinite;}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.propeller {
  z-index: 50;
  left: 31%;
  top: -2%;
}

.crop {
  position: absolute;
  z-index: 55;
  left: 30vw;
  top: 10vw;
  width: 52vw;
}

.barn {
  position: absolute;
  z-index: 15;
  left: -3vw;
      width: 90.2vw;
}

.cropcover {
  position: absolute;
  z-index: 60;
    left: 29vw;
    top: 7vw;
    width: 31vw;
}

.croppesti {
  display: none;
  position: absolute;
  z-index: 56;
    left: 30vw;
    top: 10vw;
}

.cropfelti {
  display: none;
  position: absolute;
  z-index: 57;
    left: 32vw;
    top: 11vw;
}

.cropsready {
  display: none;
  position: absolute;
  z-index: 58;
    left: 30.5vw;
    top: 10vw;
}


.roof {
  position: absolute;
  z-index: 48;
  left: 11.5%;
  top: -4.5%;
}

.mill {
  position: absolute;
  z-index: 49;
  left: 35%;
  top: -11%;
}

#pesti {
  position: absolute;
  z-index: 45;
  left: 5vw;
  top: 7vw;
  width: 5.5vw;
}
.farmer {
  position: absolute;
  z-index: 50;
  left: 45%;
  top: 35%;
}
#felti {
  position: absolute;
  z-index: 40;
  left: 5vw;
  top: 13vw;
  width: 5.5vw;
}



.newquest1 {
  z-index: 65;
  margin-left: 11vw;
  margin-top: 0vw;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: yellow;
  color: black;
  line-height: 40px;
  text-align: center; 
}


#water {
  position: absolute;
  z-index: 60;
  left: 5vw;
  top: 1vw;
  width: 5vw;
}

.newquest {
  width: 2vw;
  height: 2vw;
  background: linear-gradient(180deg, #9A0000 50%, #D61C1D);
  border-radius: 100%;
  margin : 10% auto;
  position: relative;
  z-index: 62;
  color: yellow;
  line-height: 2vw;
  text-align: center;
  border: 0.3vw solid white;
  font-weight: bold;
  font-size: 2vw;
     -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  user-select: none;
    animation: newquestmove 1s infinite; 
  animation-timing-function: ease-in-out;
      left: -33vw;
}

@keyframes newquestmove {
  0% {
    left: -33vw;
  }
  50% {
    left: -32.5vw;
  }
  100% {
    left: -33vw;
  }
}
.questwater {
  top: -7vw;
    opacity: 1;
}


.questfelti {
    top: -18vw;
      opacity: 1;
}

.questpesti {
    top: -12vw;
      opacity: 1;
}

.questhire {
    top: -7vw;
      display: none;
}

.newquest:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-top: 1vw solid white;
  left: -1.1vw;
  bottom: 0.5vw;
  transform: rotate(90deg);
  z-index: 61;
}

#water:hover, #felti:hover, #pesti:hover, #hire:hover {
  transform: scale(1.2);
  transition: transform 0.1s;
  cursor: pointer;
}

.sheep {
  position: absolute;
  z-index: 65;
  left: 40%;
  top: 58%;
}

.right-buttons {
   float: right;
   padding: 5% 5% 0 0;
   width: 15%;
}

/*.right-buttons p,
.left-buttons p {
  color: orange;
  font-weight: bold;
}*/

/*.left-buttons {
   float: left;
   padding: 10% 0 0 5%;
   width: 15%;
}*/
button:disabled {
    cursor: not-allowed;
}



   .notchecked {
    background-color: #f44336;
    opacity: 0.6
  }

  .checked {
    /*border: 3px solid white;*/
    background-color: #f44336;
    opacity: 0.6;
  }


/*  .category {
    border: 1px solid green;
  }*/

  /* MODAL WINDOW*/
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  position: relative;
    background-color: #ededed;
    border: 2px solid #666;
  color: black;
  display: block;
  padding: 5px 20px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  }

.modal-content-arrow-border {
    border-color: #666 transparent transparent transparent;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -42px;
    right: 30px;
}
.modal-content-arrow {
    border-color: #ededed transparent transparent transparent;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -39px;
    right: 30px;
}

/* The Close Button */
.waterclose,
.felticlose,
.pesticlose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.waterclose:hover,
.waterclose:focus,
.felticlose:hover,
.felticlose:focus,
.pesticlose:hover,
.pesticlose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dialogfarmer {
      position: fixed;
    bottom: -40%;
    right: 0;
        width: 35vw;
    }

.options {
  padding-top: 10%;
  text-align: center;
}

.line-1{
    position: relative;
    /*top: 50%;  */
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /*font-size: 180%;*/
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);    */
}

.anim-typewriter{
  animation: typewriter 1s steps(44) 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 25em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}

.clock {
  position: relative;
  width: 150px;
  height: 150px;
  /*margin: 50px;*/
  border: 2px solid #000;
  border-radius: 50%;
  z-index: 70;
  left:35%;
  top:35%;
  display: none;
  background: white;
}

.minute-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 55px;
  background-color: #000;
  animation: hour 0.20833s linear 24;
  transform: translateX(-50%) rotate(180deg);
  transform-origin: 50% 0;
}

.hour-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 40px;
  background-color: #000;
  animation: hour 2.5s linear 2;
  transform: translateX(-50%) rotate(180deg);
  transform-origin: 50% 0;
}

@keyframes hour {
  0% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(540deg);
  }
}

.cropready {
  background: #333;
  width: 40%;
  color: white;
  height: 10%;
  text-align: center;
  line-height: 50px;
  display: none;
  margin-left: 30%;
  margin-top: 50%;
  z-index: 150;
  opacity: 1;  
  position: absolute;
}

.cropready img {
  width: 5%;
  position: relative;
    transform: scale(1, 1);
}

#hire {
  display: none;
  position: absolute;
  z-index: 40;
  left: 5vw;
  top: 1vw;
  width: 5.5vw;
}

.workers {
  display: none;
}

.hireintrotext {
  display: block;
}